:root[color-mode='light'] {
  --element: #fff;
  --surface: #000;
  --primary: #01408e;
}

:root[color-mode='dark'] {
  --element: #000;
  --surface: #fff;
  --primary: #8fceff;
}

@font-face {
  font-family: 'Goyang';
  src: url('/src/fonts/Goyang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body * {
  font-family: Goyang;
  background: var(--element);
  color: var(--surface);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root[color-mode='light'] .light--hidden {
  display: none;
}

:root[color-mode='dark'] .dark--hidden {
  display: none;
}

#App {
  margin: 1.5em auto;
  max-width: 1200px;
  column-gap: 1.5em;
}

.SearchResult {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 10px;
}

.SearchResult img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SearchResult .item {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.SearchInput {
  width: 100%;
  font-size: 40px;
  padding: 10px 15px;
}

.ImageInfo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--element);
}

.ImageInfo .title {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.ImageInfo .title,
.ImageInfo .description {
  padding: 5px;
}

.ImageInfo .content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--element);
  border: 1px solid var(--primary);
  border-radius: 5px;
  color: var(--element);
}

.ImageInfo .content-wrapper img {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--element, #000);
    color: var(--surface, #fff);
  }
  .ImageInfo .content-wrapper {
    background-color: var(--element, #000);
    border: var(--primary, #8fceff);
    color: var(--surface, #fff);
  }
}

/* 992px 이하 */
@media (max-width: 992px) {
  .SearchResult {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

/* 768px 이하 */
@media (max-width: 768px) {
  .SearchResult {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

/* 576px 이하 */
@media (max-width: 576px) {
  .SearchResult {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}
