/* reset */
*,
*:before,
*:after {
  box-sizing: inherit;
}

p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

:root[color-mode='light'] {
  --background: #fff;
  --color: #000;
  --inverseColor: #fff;
  --primary: #01408e;
}

:root[color-mode='dark'] {
  --background: #000;
  --color: #fff;
  --inverseColor: #000;
  --primary: #8fceff;
}

@font-face {
  font-family: 'Goyang';
  src: url('/src/fonts/Goyang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body * {
  font-family: Goyang;
  background-color: var(--background);
  color: var(--color);
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

/* App */
#App {
  position: relative;
  padding-top: 0.3rem;
  margin: 1.5em auto;
  max-width: 1200px;
  column-gap: 1.5em;
}

/* Dark mode */
input[type='checkbox'] {
  -webkit-appearance: none;
}

.DarkLightSlider {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 15px;
  background-color: var(--primary);
  cursor: pointer;
  border-radius: 20px;
  transition: ease-in 0.2s;
}

.DarkLightSlider::after {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  top: 1px;
  left: 2px;
  background-color: var(--background);
  border-radius: 50%;
  transition: ease-in 0.2s;
}

input[type='checkbox']:checked ~ .DarkLightSlider {
  background-color: var(--primary);
}

input[type='checkbox']:checked ~ .DarkLightSlider::after {
  background-color: var(--background);
  transform: translateX(14px);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background, #000);
    color: var(--color, #fff);
  }
  .ImageInfo .content-wrapper {
    background-color: var(--background, #000);
    border: 1px solid var(--primary, #8fceff);
    color: var(--color, #fff);
  }
}

/* SearchInput */
.SearchInput {
  width: 90%;
  font-size: 40px;
  padding: 10px 15px;
  background-color: var(--background);
  color: var(--color);
}

/* SearchResult */
.SearchResult {
  z-index: 10;
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 10px;
}

.RandomSearchBtn {
  width: 10%;
  height: 78px;
  vertical-align: top;
  font-size: 20px;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--inverseColor);
}

.SearchResult img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SearchResult .item {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

/* Loading, noItem */
.Loading,
.noItem {
  position: fixed;
  top: 0;
  width: 1200px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.Loading p,
.noItem p {
  margin-top: 7em;
  background-color: transparent;
  text-align: center;
  font-size: 40px;
}

.noItem {
  z-index: 11;
}

/* ImageInfo */
.ImageInfo {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
}

.ImageInfo .title {
  display: flex;
  justify-content: space-between;
}

.ImageInfo .title,
.ImageInfo .description {
  padding: 5px;
}

.ImageInfo .title h2 {
  font-size: 1.5rem;
}

.ImageInfo .close {
  position: absolute;
  right: 0;
  top: 0;
}

.ImageInfo .content-wrapper {
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  border: 1px solid var(--primary);
  border-radius: 5px;
  color: var(--background);
}

.ImageInfo .content-wrapper .img-container {
  overflow: hidden;
  width: 100%;
  max-height: calc(100vh - 130px);
}

.ImageInfo .content-wrapper .img-container img {
  width: 100%;
}

/* media query */
/* 992px 이하 */
@media screen and (max-width: 992px) {
  .SearchResult {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

/* 768px 이하 */
@media screen and (max-width: 768px) {
  .SearchResult {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }

  .ImageInfo .content-wrapper {
    width: 100vw;
  }
}

/* 576px 이하 */
@media screen and (max-width: 576px) {
  .SearchResult {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}
